@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    .wrapper,
    .content-wrapper {
        background-color: #293f7a !important;
    }
    
    .dark body,
    .dark .wrapper,
    .dark .content-wrapper {
        background-color: #0d152d !important;
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
}

.modal {
    z-index: 1050;
}
